apiVersion: v1
kind: PersistentVolume
metadata:
  name: rccremote-holotree-pv
  labels:
    type: local
    app: rccremote
spec:
  storageClassName: manual
  capacity:
    storage: 50Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: "/mnt/data/rccremote/holotree"
    type: DirectoryOrCreate
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: rccremote-holotree-pvc
  namespace: rccremote
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi
  selector:
    matchLabels:
      app: rccremote
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: rccremote-hololib-pv
  labels:
    type: local
    app: rccremote-hololib
spec:
  storageClassName: manual
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: "/mnt/data/rccremote/hololib"
    type: DirectoryOrCreate
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: rccremote-hololib-pvc
  namespace: rccremote
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  selector:
    matchLabels:
      app: rccremote-hololib
